.btn {
	height: var(--space-xl);
	font-family: "Roboto Condensed";
	color: var(--quaternary-color);
	font-size: var(--font-size-xl);
	font-weight: bold;
	letter-spacing: var(--letter-spacing);
	background-color: var(--primary-color);
	border: 0;
	border-radius: var(--border-radius);
	padding-left: var(--padding-l);
	padding-right: var(--padding-l);
	box-shadow: var(--box-shadow-s);
	align-self: center;
}
.btn:hover,
.btn:active {
		color: var(--font-color-white);
		filter: hue-rotate(-15deg) saturate(1.8);
		transform: scale(1.04);
		transform-origin: center;
		transition: 0.07s;
		cursor: pointer;
		box-shadow: var(--box-shadow-l);
}

.btn--small {
	padding: var(--padding-m) var(--padding-xl);
	background-color: var(--quinary-color);
	font-size: var(--font-size-m);
	color: var(--font-color-white);
	box-shadow: var(--box-shadow-l);
}
.btn--small:hover,
.btn--small:active {
	filter: hue-rotate(50deg);
}

.btn--x-small {
	padding: var(--padding-m) var(--padding-m);
	background-color: var(--quinary-color);
	font-size: var(--font-size-m);
	color: var(--font-color-white);
	box-shadow: var(--box-shadow-l);
	width: max-content;
}
.btn--x-small:hover,
.btn--x-small:active {
	filter: hue-rotate(50deg);
}

.btn--grey-color {
	background-color: var(--tertiary-color);
}

.btn--green-color {
	background-color: var(--green-color);
}