:root {
	/* Card properties */
	--card-padding: var(--padding-l);
	--card-border-radius: var(--border-radius);
	--card-bg-color: var(--bg-color-white);
	--card-box-shadow: var(--box-shadow-l);

	/* Font */
	--font-family-sans: font-family: "Roboto Condensed";
	--letter-spacing: 0.1rem;

	/* Font Sizes */
	--font-size-xs: 		0.75rem;    /* 12px */
	--font-size-s: 			0.875rem;   /* 14px */
	--font-size-m: 			1rem;       /* 16px */
	--font-size-l: 			1.125rem;   /* 18px */
	--font-size-xl: 		1.25rem;    /* 20px */
	--font-size-xxl: 		1.5rem;     /* 24px */
	--font-size-xxxl: 	2rem;       /* 32px */
	--font-size-xxxxl: 	2.5rem;     /* 40px */

	/* Font Colors */
	--font-color-white: var(--secondary-color);
	--font-color-black: var(--quaternary-color);

	/* Spacing */
	--gap-xs: 				var(--space-xs);
	--gap-s: 				var(--space-s);
	--gap-m: 				var(--space-m);
	--gap-l: 				var(--space-l);
	--gap-xl: 				var(--space-xl);

	--space-xs: 					 0.25rem;
	--space-s: 						 0.50rem;
	--space-m: 								1rem;
	--space-l: 								2rem;
	--space-xl: 							3rem;
	--padding-m:							1rem;
	--padding-l:							2rem;
	--padding-xl:							3rem;

	/* Background colors */
	--bg-color-white: hsl(0, 0%, 100%);
	--bg-color-off-white: hsl(0, 0%, 97%);
	--bg-color-light-gray: hsl(0, 0%, 80%);

	/* Color palette from https://coolors.co/palette/faa916-fbfffe-6d676e-1b1b1e-96031a */
	--primary-color: 						#FAA916;
	--secondary-color: 	 	  		#FBFFFE;
	--tertiary-color: 					#6D676E;
	--quaternary-color: 				#1B1B1E;
	--quinary-color: 						#96031A;
	--green-color: 						#039617;

	/* Errors */
	--error-title: darkred;
	--error-color: lightcoral;
	--error-bg-color: mistyrose;

	/* Borders */
	--border-radius: 0.50rem;
	--box-shadow-s: 2px 2px 2px #ddd;
	--box-shadow-l: 3px 3px 3px #ccc;
}
