.form {
	/* Card properties */
	width: var(--card-width);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	background-color: var(--card-bg-color);
	box-shadow: var(--card-box-shadow);
	
	display: grid;
	grid-auto-flow: column;
	gap: var(--gap-xl);
	font-size: var(--font-size-l);
	min-width: max-content;	
}
.form__item {
	display: grid;
	gap: var(--gap-m);
	text-align: center;
}
.form__select {
	font-size: var(--font-size-l);
	font-family: var(--font-family-sans);
	text-align: center;
	padding: var(--padding-s);
}
.form__radio-button {
	width: 22px;
	height: 22px;
	accent-color: var(--quinary-color);
}
