.form {
	display: grid;
	grid-auto-flow: column;
	gap: var(--gap-xl);
	font-size: var(--font-size-l);
	background-color: var(--bg-color-white);
	padding: var(--padding-l);
	box-shadow: var(--box-shadow-l);
	border-radius: var(--border-radius);
	width: 75vw;
	min-width: max-content;
}
.form__item {
	display: grid;
	gap: var(--gap-m);
}
.form__select {
	font-size: var(--font-size-l);
	font-family: var(--font-family-sans);
}