.header {
}
.header__announcement {
	background-color: var(--primary-color);
	display: grid;
	place-content: center;
	height: var(--space-l);
	font-size: var(--font-size-l);
	color: var(--font-color-white);
}
.header__stripe1 {
	background-color: var(--primary-color);
	height: var(--space-s);
}
.header__stripe2 {
	background-color: var(--tertiary-color);
	height: var(--space-s);
}
.header__stripe3 {
	background-color: var(--quinary-color);
	height: var(--space-s);
}
.header__brand-group {
	display: grid;
	gap: var(--gap-s);
	justify-content: start;
	grid-auto-flow: column;
	width: max-content;
	align-items: center;
	padding-left: var(--padding-l);
	padding-right: var(--padding-l);
	transition: transform 200ms;
}
.header__brand-group:hover {
	transform: translate(6%, 0)
}
.header__logo {
	--logo-size: 35px;
	width: var(--logo-size);
	height: var(--logo-size);
	fill: var(--quaternary-color);
	
	animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
.header__logo:hover {
	animation-name: spin-reverse;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin-reverse {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.header__brand-text {
	color: var(--quinary-color);
	font-size: var(--font-size-xxxl);
	font-weight: bold;
}
