.ribbon {
}
.ribbon__announcement {
	display: grid;
	place-content: center;
	height: var(--space-l);
	font-size: var(--font-size-l);
	color: var(--font-color-white);
	background-color: var(--primary-color);
}
.ribbon__adornment1 {
	background-color: var(--tertiary-color);
	height: var(--space-s);
}
.ribbon__adornment2 {
	background-color: var(--quinary-color);
	height: var(--space-s);
}