.table {
  border-collapse: separate;
  border-spacing: 0 var(--space-s);
}
.table__row {
	height: 45px;
	background-color: var(--bg-color-white);
	text-align: center;
}
.table__header {
	height: 60px;
	letter-spacing: 0.05rem;
	background-color: var(--bg-color-light-gray);
	box-shadow: none;

	position: sticky;
	top: var(--space-s);
	z-index: 0;
}

.table__left-cell {
	border-top-left-radius: var(--card-border-radius);
	border-bottom-left-radius: var(--card-border-radius);
}
.table__right-cell {
	border-top-right-radius: var(--card-border-radius);
	border-bottom-right-radius: var(--card-border-radius);
}
.matched {
	text-align: right;
	padding-top: var(--space-xl);
	padding-bottom: var(--space-m);
}
.no_matches {
	padding-top: var(--space-l);
	text-align: center;
	color: var(--quinary-color);
}

/* Sorting */
.current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.asc {
	background: no-repeat right;
	background-image: url("asc.svg");
	background-size: 20px;
}
.desc {
	background: no-repeat right;
	background-image: url("desc.svg");
	background-size: 20px;
}

