<footer class="footer">
  <div class="footer__stripe"></div>
  <div class="footer__content">
    <a href="https://github.com/kslau07" class="footer_link">https://github.com/kslau07</a>
  </div>
</footer>
